<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить заселение</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="Style1.css"/>
    <link rel="stylesheet" href="Style2.css"/>
    <link rel="stylesheet" href="Style3.css"/>
</head>
<body>    
    <h1>Текущий пользователь:</h1>
    <h2>FIO</h2>
        <div  class="mainPictureFront Box" id="Box3">
            <div class="Container">
                <input name="name" placeholder="название">
                <a href="">
                    <button class="blue_button_registry ">добавить тип комнаты</button>
                </a>
            </div>
        </div>
</body>
</html>